body{font-family: 'Open Sans', sans-serif;}
.navbar{padding-top: 20px;min-height: 120px;}
.navbar-default {background-color: #f7f7f7;border-color: #d9d9dd;border-radius: 0; position: relative}
.navbar-default .navbar-nav>li>a {color: #000;font-size: 16px;padding-bottom: 51px;border: 1px solid transparent;}
.navbar-default .navbar-nav>li>a:hover{border-bottom: 1px solid #64b299;}
.navbar-default .navbar-collapse{float: left}
.navbar-right button{color:#636363;margin-right: 12px; width: 104px; height: 38px; border-radius: 3px; border: 1px solid #d9d9dd;margin-top: 2px;font-size: 14px; }
.navbar-right button span{float: left;font-size: 13px;margin-top: 2px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {position:relative; color:#64b299; background-color: #fff; z-index: 11; border: 1px solid #d9d9dd;border-bottom-color: #fff;padding-bottom: 15px;}
ul.navbar-nav{margin: 11px 0 0 100px;}
.glyphicon-menu-down {color:#64b299; font-size: 11px;font-weight: 400;} .servic-arrow{margin-left: 5px;}
.btn-group{margin-left: 100px;margin-top: 12px;}
.btn-group .btn{border-color:#d9d9dd;border-radius: 17px; height: 38px; width: 41px;}
.navbar-right .btn-default:hover, .navbar-right .btn-default:active, .navbar-right .btn-default:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {background-color: #ebebed; outline-style: none;}

.dropdown-menu {top: 51px;z-index: 10;padding:20px 0;border: 1px solid #d9d9dd; border-radius: 0;}
.dropdown-menu>li>a{color: #000; font-size:16px; font-weight: 400;line-height: 30px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {color: #000;text-decoration: none;background-color: #f7f7f7;}

.carousel{margin-top: 80px; margin-bottom: 100px;}
.carousel-indicators {position: absolute;bottom: 5px;  left: 58%;  z-index: 15;  width: auto;  padding-left: 0;  margin-left: 0;  text-align: center;  list-style: none;  }
.carousel-indicators li {background-color: #fff;  border: 1px solid #d9d9dd;  border-radius: 10px;width: 8px;height: 8px;  }
.carousel-indicators .active {width: 8px;height: 8px;margin: 1px;background-color: #636363;border: 1px solid #636363;  }
.carousel-caption {position: absolute;top:0; right: 0;  left: 42%;  z-index: 10;  color: #000;  text-align: left;  text-shadow: none;  padding: 0;  }
.carousel-caption-title{color:  #000000;font-size: 58px;font-weight: 300;}
.carousel-caption-title span{font-weight: 700}
.carousel-caption-description{color:#000;font-size: 14px;font-weight: 400;line-height: 25px;text-overflow: ellipsis;}

.btn-phone:hover{outline-style: none;}
.btn-phone, .btn-phone:hover{background-color:  #005286;width: 170px; height: 40px;border-radius: 22px;color:#fff;font-size: 14px;}
.btn-discover{text-transform:uppercase;color:#fff;font-size: 14px;font-weight: 700;border-radius: 3px;border:1px #47806e solid;  background-color:  #64b299;width: 151px;height: 46px;position: absolute;  bottom: 0;  left: 42%;}
.btn-contact{text-transform:uppercase;color:#fff;font-size: 14px;font-weight: 700;border-radius: 3px;border:1px #47806e solid;  background-color:  #64b299;width: 151px;height: 46px;margin-bottom: 90px}
.btn-arrange{text-transform:uppercase;color:#fff;font-size: 14px;font-weight: 700;border-radius: 3px;border:1px #47806e solid;  background-color:  #64b299;width: 230px;height: 46px;}

.border{background-color:  #64b299;width: 50px;height: 1px; margin-bottom: 15px;}
.btn-arrange:hover, .btn-arrange:active, .btn-arrange:focus,.btn-contact:hover, .btn-contact:active, .btn-contact:focus,.btn-discover:hover, .btn-discover:active, .btn-discover:focus{outline-style: none;border-color:  #003454;  background-color:  #005286; color: #fff;}

.features{background-color:  #f7f7f7; text-align: center;padding: 100px 0;}
.features-title{color:  #000000;font-size: 22px; font-weight: 700; line-height: 72px}
.features-p{color:  #000000;font-size: 14px;font-weight: 400;line-height: 24px;text-align: left;}

footer{background-color:#232323; padding: 100px 0 80px;}
footer h4{color:  #ffffff;font-size: 22px;font-weight: 400;line-height: 35px}
footer ul a{color: #919191; text-decoration: none; font-size: 14px; font-weight: 400; line-height: 24px;}
footer ul a:hover,footer ul a:active, footer ul a:focus{color: #fff; text-decoration: none;}
.social a i{color: #fff;font-size: 30px;font-weight: 400;margin-top: 18px}
.social a i:hover{color: #64b299;}
.copy{margin-top:40px;color:#4f4f4f;font-size: 14px;font-weight: 400;line-height: 24px}  .fa-phone{padding-right: 10px;}

.uandox-team{padding: 95px 0 60px;}
.solution{padding: 95px 0;}
.solution .row{margin-bottom: 85px;}
.solution-title{color:  #000;font-size: 36px; font-weight: 600;}
.media{margin-bottom: 50px}
.media h4{color:  #000;font-size: 22px;font-weight: 700;}
.media h5{color:  #000;font-size: 16px;font-weight: 400;}
.media>.pull-left {padding-right: 35px;}

.contact-text{margin-bottom: 55px}
.contact h1{color:#000;font-size: 58px;font-weight: 300;}
.address{list-style: none}
.address li{margin-bottom: 32px;padding-left: 60px; padding-bottom:52px}
.address li a{font-size: 16px;font-weight: 400; color: #000;} .address li a:hover{text-decoration: none}
.address li a span{font-size: 22px;font-weight: 600; color: #000;}

#phone{background: url("../images/phone.png") no-repeat  0px 8px; height: 43px;}
#email{background: url("../images/mail.png") no-repeat  0px 8px; height: 43px;}
#pen{background: url("../images/blog.png") no-repeat  0px 8px; height: 43px;}

.social li{margin: 10px 0 25px;}

#linkedin{background: url("../images/in.png") no-repeat; width: 26px; height: 26px}
#twitter{background: url("../images/tw.png") no-repeat; width: 27px; height: 22px}
#facebook-square{background: url("../images/fb.png") no-repeat; width: 26px; height: 27px}

#linkedin:hover{background: url("../images/in_hover.png") no-repeat; width: 26px; height: 26px}
#twitter:hover{background: url("../images/tw_hover.png") no-repeat; width: 27px; height: 22px}
#facebook-square:hover{background: url("../images/fb_hover.png") no-repeat; width: 26px; height: 27px}


#googleMap{width: 570px;height: 400px; margin-top: 75px; margin-bottom: 85px}
.contact{margin-top: 45px;}
#mylabel{color:  #000; font-size: 14px;font-weight: 400;line-height: 18px;}

@media (max-width: 1200px) {
    ul.navbar-nav{margin: 11px 0 0 35px;}
    .btn-group {margin-left: 20px;}
    .padding-0{padding: 0}
    .btn-discover, .carousel-caption {left: 50%;} .btn-discover{bottom:-25%}
    .carousel-indicators {bottom: -24%;left: 70%;}
    .carousel {margin-bottom: 150px;}

}
@media (max-width: 992px) {
    ul.user-menu {position: absolute;bottom: 0;right: 0;margin-top: 45px; padding-right: 12.333%;}
    .nav.navbar-nav.navbar-right{position: absolute;right: 0;padding-right: 11%;}
    .btn-group {float: left;}
    .navbar-default .navbar-nav>li>a {padding-bottom: 19px;}
    .navbar {min-height: 135px;}
    .carousel-inner>.item img{visibility: hidden;}
    .btn-discover, .carousel-caption {left: 5%;}
    .btn-discover{bottom:0}
    .carousel-indicators {bottom: 0;left: 70%;}
    .social li{display: inline-block; margin: 25px 25px 25px 0;}
}

@media (max-width: 768px) {
    ul.user-menu {position: relative;margin-top: 45px; padding-right: 12.333%;}
    /*.navbar-toggle {position: absolute;top: 85px;left: 10px;}*/
    /*.btn-group {position: absolute;top: 20px;left: 80px;}*/
    /*.nav.navbar-nav.navbar-right li{display: inline-block}*/

    /*.btn-discover,.carousel-indicators {bottom:-30%}*/
    .features-p{text-align: center;}
    .carousel {margin-bottom: 130px;}
    .carousel-indicators li,.carousel-indicators .active {width: 12px;height: 12px;margin: 5px}
    .carousel-indicators {left: 60%;}

}
@media (max-width: 670px) {
    .btn-discover,.carousel-indicators {bottom:-25%}
   }

@media (max-width: 490px) {
    .carousel-caption-description {line-height: 24px;}
    .carousel-caption-title {font-size: 45px;}
    .btn-discover{bottom:-25%}
    .carousel-indicators {bottom:-24%}
}
@media (max-width: 390px) {
    .carousel-caption-title {font-size: 35px;}
    .btn-discover{bottom:-43%}
    .carousel-indicators {bottom: -23%; left: 5%;}

}